.face-snap-card {
  box-sizing: border-box;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
  width: 35%;
  img {
    width: 100%;
  }
 
  &-date {
    font-size: 0.8em;
  }
  &-desc {
    text-align: justify;
  }
}
.snapped {
  background-color: rgba(lightgreen, 0.4);
  color: darkgreen;
  button {
    box-shadow: lightgreen 3px 3px 7px;
    color: darkgreen;
    &:active {
      box-shadow: lightgreen 0 0 5px;
    }
  }
}
