header{
    text-align: center;
    background-color: #013461;
    color: #c18f0a;
    margin-bottom: 20px;
    padding: 10px;
}
.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &-link{
        color: #c18f0a;
    
    }

}
